# .env.example
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
ADMIN_PASSWORD="secretpassword"
JWT_SECRET="supersecretjwtkey"

# MongoDB Database URI
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.mongodb.net/portfolio?retryWrites=true&w=majority"

# Cloudinary Credentials (Get these from your Cloudinary Dashboard)
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
